@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap");
.Home-one {
  display: flex;
  flex-wrap: wrap;
}
.Home-two {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.Home-title {
  color: #3c83f3;
  /* display: flex; */
  /* flex-direction: column; */
  display: block;
  align-items: center;
  padding-top: 80px;
  justify-content: center;
  font-size: 65px;
}
.Home-phrase {
  color: #636e72;
  font-size: 36px;
  font-weight: bold;
}
.Home-three-one {
  flex: 50%;
  font-family: "IM Fell English SC", serif;
}

.Home-three-two {
  flex: 50%;
}
.Home-lottie {
  width: 400px;
  height: 400px;
}
